<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>电子社区</title>
    <!-- Bootstrap 依赖的 jquery 文件 -->
    <script src="/js/jquery-3.5.0.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- 自定义css -->
    <link href="/css/community.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="jumbotron">
    <h1>出错了！！！</h1>
    <p th:text="${message}">服务太热了，稍后再试！</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</body>
</html>